# Vg-Stats
## Name:
Mohammad Ashour

## Date:
24-05-2021

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('./vgsales.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

## 1. Which company is the most common video game publisher?

In [3]:
dfPub = df['Publisher'].value_counts().idxmax()
dfPub

'Electronic Arts'

## 2. What's the most common platform?

In [4]:
most_platform = df['Platform'].value_counts().idxmax()
most_platform

'DS'

## 3. What's the most common genre?

In [5]:
most_genre = df['Genre'].value_counts().idxmax()
most_genre

'Action'

## 4. What are the top 20 highest grossing games?

In [6]:
high_gross = df[['Rank', 'Name', 'Platform', 'Year', 'Global_Sales']].sort_values('Global_Sales', ascending= False)
top_twenty_highest_grossing_games = high_gross.head(20)
top_twenty_highest_grossing_games

,Rank,Name,Platform,Year,Global_Sales
0,1,Wii Sports,Wii,2006.0,82.74
1,2,Super Mario Bros.,NES,1985.0,40.24
2,3,Mario Kart Wii,Wii,2008.0,35.82
3,4,Wii Sports Resort,Wii,2009.0,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,31.37
5,6,Tetris,GB,1989.0,30.26
6,7,New Super Mario Bros.,DS,2006.0,30.01
7,8,Wii Play,Wii,2006.0,29.02
8,9,New Super Mario Bros. Wii,Wii,2009.0,28.62
9,10,Duck Hunt,NES,1984.0,28.31
10,11,Nintendogs,DS,2005.0,24.76
11,12,Mario Kart DS,DS,2005.0,23.42
12,13,Pokemon Gold/Pokemon Silver,GB,1999.0,23.10
13,14,Wii Fit,Wii,2007.0,22.72
14,15,Wii Fit Plus,Wii,2009.0,22.00
15,16,Kinect Adventures!,X360,2010.0,21.82
16,17,Grand Theft Auto V,PS3,2013.0,21.40
17,18,Grand Theft Auto: San Andreas,PS2,2004.0,20.81
18,19,Super Mario World,SNES,1990.0,20.61
19,20,Brain Age: Train Your Brain in Minutes a Day,DS,2005.0,20.22

## 5. For North American video game sales, what’s the median?
 ### Provide a secondary output showing ten games surrounding the median sales output
   #### assume that games with same median value are sorted in descending order

In [7]:
dfmedianNa = df['NA_Sales'].median()
dfmedianNa

ten_games = df[df['NA_Sales'] == dfmedianNa][['Rank', 'Name', 'Platform', 'Year', 'NA_Sales']]
ten_games.sort_values('Rank', ascending = False).head(10)

,Rank,Name,Platform,Year,NA_Sales
11492,11494,Ultimate Shooting Collection,Wii,2008.0,0.08
11455,11457,The Hidden,3DS,NaN,0.08
11432,11434,DanceDanceRevolution,X360,2011.0,0.08
11431,11433,Little League World Series Baseball: Double Play,DS,2010.0,0.08
11403,11405,My English Coach: Para Hispanoparlantes,DS,2009.0,0.08
11390,11392,Super Robot Taisen OG Saga: Endless Frontier,DS,2008.0,0.08
11386,11388,Sushi Academy,DS,2009.0,0.08
11376,11378,Face Racers: Photo Finish,3DS,NaN,0.08
11375,11377,Dream Day: Wedding Destinations,DS,2009.0,0.08
11371,11373,Death Jr. and the Science Fair of Doom,DS,2007.0,0.08

## 6. For the top-selling game of all time, how many standard deviations above/below the mean are its sales for North America?

In [8]:
highest = df['NA_Sales'].head(1)
mean = df['NA_Sales'].mean()
std = df['NA_Sales'].std()
na_median_sales = (highest - mean)/std
na_median_sales[0]

50.47898767479108

## 7. The Nintendo Wii seems to have outdone itself with games. How does its average number of sales compare with all of the other platforms?

In [9]:
nin_wii = df.groupby(df["Platform"] == 'Wii')["Global_Sales"].mean()
nin_wii

Platform
False    0.523390
True     0.699404
Name: Global_Sales, dtype: float64

## 8. What is the most selling game globally?

In [10]:
sell = df[['Global_Sales', 'Name']].max()
sell

Global_Sales                           82.74
Name            ¡Shin Chan Flipa en colores!
dtype: object

## 9. Give me a random game name

In [11]:
idxnum = (df["Rank"]-1).max()
randata = np.random.randint(0, idxnum)
game = df.iloc[randata]['Name']
game

'Super Momotarou Dentetsu III'

## 10. Sort PS3 games in descending order Accourding to Year

In [12]:
PS3 = df[df['Platform'] == 'PS3'][['Name', 'Platform', 'Year']].sort_values("Year", ascending=False)
PS3

                                                    Name Platform    Year
15566  TV Anime Idolm@ster: Cinderella Girls G4U! Pac...      PS3  2016.0
9904              Dragon Quest Builders: Revive Alefgard      PS3  2016.0
10156                 Jikkyou Powerful Pro Baseball 2016      PS3  2016.0
13492                                  Rugby Challenge 3      PS3  2016.0
10040                                     UEFA Euro 2016      PS3  2016.0
...                                                  ...      ...     ...
13156      The History Channel: Great Battles - Medieval      PS3     NaN
13278                     Monster Hunter Frontier Online      PS3     NaN
14942  Umineko no Naku Koro ni San: Shinjitsu to Gens...      PS3     NaN
16246                       Agarest Senki: Re-appearance      PS3     NaN
16366                        Hakuouki: Shinsengumi Kitan      PS3     NaN

[1329 rows x 3 columns]

In [13]:
def test():

    def assert_equal(actual,expected):
        assert actual == expected, f"Expected {expected} but got {actual}"

    assert_equal(dfPub, 'Electronic Arts')
    assert_equal(most_platform, 'DS')
    assert_equal(most_genre, 'Action')
    assert_equal(top_twenty_highest_grossing_games.iloc[0].Name, 'Wii Sports')
    assert_equal(top_twenty_highest_grossing_games.iloc[19].Name, 'Brain Age: Train Your Brain in Minutes a Day')
    assert_equal(na_median_sales[0], 50.47898767479108)

    print("Success!!!")

test()

Success!!!